body {
    background-image: url(./images/minimal-background-pattern-wordpress-6.jpg);
    font-family: 'Lato', sans-serif;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbox-search {
    display: flex;
    justify-content: space-around;
}

.outline-main {
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    width: 80%;
}

.outline-navigate {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-top: 10px;
}

.outline-search {
    float: left;
    width: 100%;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: center;
    padding: 10px;
}

#searchBar {
    width: 90%;
}

#searchButton {
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
    height: 30px;
    background-color: blue;
    color: white;
}

#clearHistory {
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    background-color: red;
    color: black;
}

#outline-history {
    border: solid black 1px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.weather {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

#weatherDisplay {
    border: solid black 1px;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
}

#forecastDisplay {
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.historyButton {
    width: 80%;
    color: red;
}

.forecastDiv {
    border: black solid 1px;
    border-radius: 10px;
    width: 18%;
    background-color: navy;
    padding: 10px;
    margin: 10px;
}

.forecastHeading {
    color: white;
}

.forecastImage {
    color: pink;
}

.forecastParagraph {
    color: white;
}

#uviLow {
    background-color: green;
}

#uviMod {
    background-color: yellow;
    color: black;
}

#uviHigh {
    background-color: red;
}

.flexbox-uvi {
    display: flex;
    justify-content: left;
}

.uvColor {
    text-align: center;
    width: 40px;
    margin-left: 5px;
    color: white;
    border-radius: 3px;
}

.thisIsMyHistory {
    font-family: 'Lato', sans-serif;
    margin: 10px;
    padding: 5px;
    color: blue;
    background-color: orange;
    border-radius: 10px;
}

.thisIsMyHistory:hover {
    background-color: crimson;
    color: cyan;
    transition: 1s all;
}